h1{
    text-align: center;
    color: cyan;
    background-color: darkblue;
    border: darkmagenta;
}
#htmlid{
    color: darkgreen;
    background-color: burlywood;
    text-align: center;
    border-color: crimson;
}
.class1{
    background-color: chartreuse;
    text-align: center;
    padding: 20px;
    height: 15.0;
    width: 15.0;
}
.class2{
    background-color: darksalmon;
    text-align: center;
    height: 12.0;
}